streamlit
openai-whisper
torch
torchaudio
yt-dlp

audioop-lts

langchain
langchain-core
langchain-community
langchain-groq
groq
langchain-sarvam

chromadb
sentence-transformers
transformers
huggingface-hub

fpdf2
pydub
